.basvuru-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.basvuru-layout {
  display: flex;
  justify-content: center;
}

.first-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.a {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.a input {
  margin-top: 5px;
}

.second-div {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.b {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.b input {
  margin-top: 5px;
}

.b textarea {
  margin-top: 5px;
}
.third-div button {
  width: 390px;
  height: 50px;
}
@media only screen and (max-width: 550px) {
  .third-div button {
    margin: 10px;
    width: 200px;
    height: 50px;
  }

  .basvuru-layout {
    display: flex;
    flex-direction: column;
  }
}
