.comment-container {
  width: 100%;
  /* border: 4px solid rgba(255, 255, 255, 0.707); */
  background-color: rgba(255, 255, 255, 0.707);
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

@media only screen and (max-width: 440px) {
  .comment-container {
    width: 80%;
  }
}

.comment-layout {
}

.comment-header {
  border-bottom: 1px solid black;
}

.comment-header-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.comment-image img {
  border-radius: 50%;
}
@media only screen and (max-width: 440px) {
  .comment-image img {
    width: 75px;
    height: 75px;
    margin-left: 20px;
  }
}

.comment-info {
  /* border: 1px solid black; */
  margin: 10px;
  padding: 10px;
}

.comment-body {
  border-bottom: 1px solid black;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 15px;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.comment-phone {
  margin-right: 10px;
}
