.comment-container {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.comment-layout {
}

.comment-header {
  border: 1px solid black;
}

.comment-header-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.comment-image img {
  border-radius: 50%;
}

.comment-info {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.comment-body {
  border: 1px solid black;
  margin-top: 10px;
  padding: 5px;
}

.comment-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.comment-phone {
  margin-right: 10px;
}
