.circle {
  margin-left: 10px;
}

.footer-container {
  /* background: orange; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  margin-top: 10px;
}

.social-media {
  position: absolute;
  display: flex;
  right: 10px;
}
.private {
  justify-content: center;
}

.line {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 800px) {
  .social-media {
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}
